.form-response{
    background: green;
    width: 38%;
    padding: 5px;
    color: white;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 10px;
}

button{
    background-color: aquamarine;

}

body{
    background-color: aquamarine;
}